
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!-- doesnt work for shit -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <!--<link rel="stylesheet" href="stylesheets/foundation.css">-->
  <!--<link href="stylesheets/styles.css" rel="stylesheet" type="text/css">-->
  <title>{% block title %}{% endblock %}</title>
  <LINK href="{{ STATIC_URL }}css/index/index.css" rel="stylesheet" title="indexstyle" type="text/css" />
  <script src="{{ STATIC_URL }}javascripts/modernizr.foundation.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery1.4.2.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-ui-1.8.2.custom.min.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}javascripts/login.js"></script>

</head>

<body>

  <!-- Header and Nav -->
  
  <div class="row twelve padded">
    <div class="two columns wrap">
      <h1><a href="../"><span><IMG SRC="{{ STATIC_URL }}imgs/logo4.png" /></span></a></h1>
    </div>


    
     <div id='cssmenu'>
<ul>
   <li class='has-sub'><a><span>Whiskies</span></a>
      <ul>
         <li class='has-sub'><a><span>Highland</span></a>
            <ul>
               <li><a href='/whisky/Balblair10'><span>Balblair</span></a></li>
               <li><a href='/whisky/Eradour10'><span>Eradour</span></a></li>
               <li class='has sub last'><a><span>Old Pulteney</span></a>
                  <ul>
                    <li><a href='/whisky/OldPulteney12'><span>Old Pulteney 12yrs</span></a></li>
                    <li><a href='/whisky/OldPulteney17'><span>Old Pulteney 17yrs</span></a></li>
                    <li><a href='/whisky/OldPulteney21'><span>Old Pulteney 21yrs</span></a></li>
                  </ul>  
               </li>
            </ul>
         </li>
         <li class='last'><a><span>Islay</span></a>
            <ul>
               <li><a href='/whisky/Ardbeg10'><span>Ardbeg</span></a></li>
               <li class='last'><a href='/whisky/Laphroaig10'><span>Laphroaig</span></a></li>
            </ul>
         </li>
         <li class='last'><a><span>Island</span></a>
            <ul>
               <li class='last'><a href='/whisky/HighlandPark12'><span>Highland Park</span></a></li>
            </ul>
         </li>
         <li class='last'><a><span>Lowland</span></a>
            <ul>
               <li><a href='/whisky/Auchentoshan12'><span>Auchentoshan</span></a></li>
               <li class='last'><a href='/whisky/Glenkinshie12'><span>Glenkinshie</span></a></li>
            </ul>
         </li>
         <li class='last'><a><span>Speyside</span></a>
            <ul>
               <li><a href='/whisky/Glenfiddich12'><span>Glenfiddich</span></a></li>
               <li class='last'><a href='/whisky/Glenlivet12'><span>Glenlivet</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li class='has-sub'><a href='/distillery'><span>Distilleries</span></a>
      <ul>
         <li class='has-sub'><a><span>Highland</span></a>
            <ul>
               <li><a href='/distillery/Balblair'><span>Balblair</span></a></li>
               <li><a href='/distillery/Eradour'><span>Eradour</span></a></li>
               <li class='last'><a href='/distillery/'><span>Old Pulteney</span></a></li>
            </ul>
         </li>
         <li class='last'><a><span>Islay</span></a>
            <ul>
               <li><a href='/distillery/Ardbeg'><span>Ardbeg</span></a></li>
               <li class='last'><a href='/distillery/Laphroaig'><span>Laphroaig</span></a></li>
            </ul>
         </li>
         <li class='last'><a><span>Island</span></a>
            <ul>
               <li class='last'><a href='/distillery/Highland Park'><span>Highland Park</span></a></li>
            </ul>
         </li>
         <li class='last'><a><span>Lowland</span></a>
            <ul>
               <li><a href='/distillery/Auchentoshan'><span>Auchentoshan</span></a></li>
               <li class='last'><a href='/distillery/Glenkinshie'><span>Glenkinshie</span></a></li>
            </ul>
         </li>
         <li class='last'><a><span>Speyside</span></a>
            <ul>
               <li><a href='/distillery/Glenfiddich'><span>Glenfiddich</span></a></li>
               <li class='last'><a href='/distillery/Glenlivet'><span>Glenlivet</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
         <li><a href='recommended.html'><span>Recommended</span></a></li>
  </ul>
      <a href="#" class="login_btn"><span>Account</span></a>
                
                <div id="login_box">
                    <div class="triangle"></div>
                    <div id="login_box_content"></div>
                    <div id="login_box_content">
                        <form id="login_form" method="post" action="/login/">
                           {% csrf_token %}
                          {% if user.is_authenticated %}
                          <p1>Welcome to WhatDram {{ user.username }}</p1>
                          <br />
                          <br />
                          <a href='/logout/'>Logout</a>
                          <br />
                          <br />
                          {% else %}
                          
                            <p1>Login</p1>
                            <input type="text" name="username" value="Username" id="username" size="50" placeholder="Username" />
                            <input type="password" name="password" value="Password" id="password" size="50" placeholder="Password" />
                            <input type="submit" name="submit" value="Login" />
                            <a href="/register/"><br>Register Here</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
              
    <div id='search-box'>
      <form action='/search' id='search-form' method='get' target='_top'>
        <input id='search-text' name='q' placeholder='Search...' type='text'/>
        <button id='search-button' type='submit'><span>Search</span></button>
      </form>
    </div>
    </div>
  </div>

 
   <div class="panel2">
    <h3>Latest Comments</h3>
    <hr />
    {% if comment_list %}
        <UL>
        {% for comment in comment_list %}
                <div class="latest_comments">
                 <Li><p2><a HREF="/whisky/{{whisky.url}}">{{ comment.content_object }} | {{ comment.content_object.age }} year old</a><p2>
               <p>{{ comment.comment }}</p>
               <p>{{ comment.user_name }}</p>
             </Li>
           </div>
                <hr />
        {% endfor %}
        </UL>
{% else %}
        <P>No categories at present.</P>
{% endif %}


  </div>



  <div class="panel1">
    <h4>Top Rated Whiskies</h4>
     <hr />
    {% if distillery_list %}
        <UL>
        {% for distillery in distillery_list %}
                <Li><a HREF="/distillery/{{distillery.url}}"><p>{{ distillery.name }}</p></a></Li>
                <hr />
        {% endfor %}
        </UL>
{% else %}
        <P>No categories at present.</P>
{% endif %}
    <hr />
  </div>

<div class="intro">
  <h8></h8>
</div>


{% block content %}{% endblock %}
   

  <!-- Footer -->

  <!-- facebook button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Twitter button -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright Team NotReally.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><div class="fb-like" data-href="https://www.facebook.com/pages/What-Dram/284578621670582" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div></li>
            <li><a href="https://twitter.com/whatdram" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @whatdram</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
 


</body>
</html>
