{% extends 'dramapp/base.html' %}


    
{% block title %}WhatDram | Distillery{% endblock %}

<!-- First Panel Row -->
<!-- Top Rated Whiskies, Trending Whiskies and a list of whisky regions -->
{% block content %}
<!-- Maps head below -->
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG6LZtW8sO_PBQBQowj7dndRTh_gOnPWo&sensor=false">
    </script>

    <script type="text/javascript">
      function initialize() {
        var image = '{{ STATIC_URL }}imgs/bottle.png';
        var disLatlng = new google.maps.LatLng({{ distillery.latitude }}, {{ distillery.longitude }});
        var mapOptions = {
            zoom: 5,
            center: disLatlng,
            mapTypeId: google.maps.MapTypeId.SATELLITE
    }
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<div id="bodyContent">'+
        '<p1><b>{{ distillery.name }}</b>, {{ distillery.tourevents }}</p1>'+
        '</div>'+
        '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: disLatlng,
            /*animation: google.maps.Animation.DROP,*/
            map: map,
            icon: image,
            title:"{{ distillery.name }}"
        });

        google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
        });

        var panoramioLayer = new google.maps.panoramio.PanoramioLayer();
            panoramioLayer.setMap(map);
            google.maps.event.addListener(panoramioLayer, 'click', function(event) { 
        var photoDiv = document.getElementById('photoPanel');
        var attribution = document.createTextNode(event.featureDetails.title + ": " + event.featureDetails.author);
        var br = document.createElement("br");
        var link = document.createElement("a");
            link.setAttribute("href", event.featureDetails.url);
            link.appendChild(attribution);
            photoDiv.appendChild(br);
            photoDiv.appendChild(link);
        });
    }
    </script>
    <!-- End of Maps head -->
</head>

<body onload="initialize()">
<!-- First Panel Row -->
<!-- Top Rated Whiskies, Trending Whiskies and a list of whisky regions -->

<!-- Map panel -->
<div class="whisky_title"><h2>{{ distillery.name }}</h2>
<div class="row seven">
   <div class="eleven columns centered"> 
 <div class="panel4">
    <div class="d_inner_text">

                <h7>About | <h10>{{ distillery.name}}</h10></h7>
                <br /><br />
                <p>{{ distillery.blurb }}</p>

               
        </div>
            </div>
        <div class="map_container">
        <div id="map_canvas" style="width:481px; height:500px"></div>
    </div>
        <hr />
    </div>
    </div>

    <!-- Three-up Content Blocks -->




<div class="row seven">

    <div class="eleven columns centered"> 
 <div class="panel5">
     <div id="d_image"><IMG SRC="{{ distillery.images }}" /></div>
    <!--<div class="inner_text">
                <p>{{ distillery.blurb }}</p>
                <br /><br />
                <br /><br />
                <h7>Region | <h10>{{ distillery.region }}</h10></h7>
                <br /><br />
                <h7>Events | <h10>{{ distillery.tourevents }}</h10></h7>
                <br /><br />
                <hr />-->

            <div class="distillery_info">
                <div class="d_inner">
            <h10>Distillery | Info</h10>
             <br /><br />
            <h7>{{ whisky.whiskytype}}</h7>
                <br /><br />
                <h7>Region | <h10>{{ distillery.region }}</h10></h7>
                <br /><br />
                <h7>Tour Events | <h10>{{ distillery.tourevents }}</h10></h7>
                <br /><br />
            <a href="{{ distillery.website }}"><span><h11>Visit the {{distillery.name}} website</h11></span></a>
        </div>


        <div class="d_inner_right">
            <h4>Whiskies</h4>
                <hr />
                {% if whisk_list %}
                 <UL>
                    {% for whisky in whisk_list %}
                     <a HREF="/whisky/{{ comment.content_object.name }}"><p3>{{ Whisky.title }} | {{ Whisky.age }} year old</p3></a>
                        
                    
                <hr />
        {% endfor %}
        </UL>
{% else %}
        <P>No categories at present.</P>
{% endif %}

         </div>   
        </div>
        </div>
            </div>


</body>
{% endblock %}