<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>WhatDram | Distilleries</title>

    <!-- Included CSS Files (Uncompressed) -->
    <!--
    <link rel="stylesheet" href="stylesheets/foundation.css">
    -->

    <!-- Included CSS Files (Compressed) -->
    <LINK href="{{ STATIC_URL }}css/index/index.css" rel="stylesheet" title="indexstyle" type="text/css" />


    <!-- Javascript -->
    <script src="{{ STATIC_URL }}javascripts/modernizr.foundation.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery1.4.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/login.js"></script>

    <!-- Maps head below -->

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG6LZtW8sO_PBQBQowj7dndRTh_gOnPWo&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
    </script>

    <!-- End of Maps head -->

</head>
<body onload="initialize()">

<!-- Header and Nav -->

<div class="row twelve padded">
    <div class="two columns wrap">
        <h1><IMG SRC="{{ STATIC_URL }}imgs/logo4.png" /></h1>
    </div>
    <div id='cssmenu'>
        <ul>
            <li class='has-sub'><a href='../whisky/'><span>Whiskies</span></a>
                <ul>
                    <li><a href='#'><span>Highlands</span></a></li>
                    <li><a href='#'><span>Lowlands</span></a></li>
                    <li><a href='#'><span>Speyside</span></a></li>
                    <li><a href='#'><span>Islands</span></a></li>
                    <li class='last'><a href='#'><span>Islay</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href='/distillery/'><span>Distilleries</span></a>
                <ul>
                    <li><a href='#'><span>Highlands</span></a></li>
                    <li><a href='#'><span>Lowlands</span></a></li>
                    <li><a href='#'><span>Speyside</span></a></li>
                    <li><a href='#'><span>Islands</span></a></li>
                    <li class='last'><a href='#'><span>Islay</span></a></li>
                </ul>
            </li>
            <li><a href='recommended.html'><span>Recommended</span></a></li>
        </ul>
        <a href="#" class="login_btn"><span>Account</span></a>
        <div id="login_box">
            <div id="tab"><a href="..." class="login_btn"><span>Login</span><div class="triangle"></div></a></div>
            <div id="login_box_content"></div>
            <div id="login_box_content">
                <form id="login_form">
                    <p1>Enter your details..</p1>
                    <input type="text" placeholder="Username" />
                    <input type="password" placeholder="Password" />
                    <input type="submit" value="Do it!" />
                    <a href="/register/">Register Here</a>
                </form>
            </div>
        </div>
        <div id='search-box'>
            <form action='/search' id='search-form' method='get' target='_top'>
                <input id='search-text' name='q' placeholder='Search...' type='text'/>
                <button id='search-button' type='submit'><span>Search</span></button>
            </form>
        </div>
    </div>
</div>

<!-- End Header and Nav -->


<!-- First Panel Row -->
<!-- Top Rated Whiskies, Trending Whiskies and a list of whisky regions -->

<div class="panel2">
    <h4>Trending Whiskies</h4>
    <hr />
    <a href="#" class="panel-links"><span>Glenfiddich</span></a>
    <hr />
    <a href="#" class="panel-links"><span>Talisker</span></a>
    <hr />
    <a href="#" class="panel-links"><span>Jura</span></a>
    <hr />
    <a href="#" class="panel-links"><span>Ardberg</span></a>
    <hr />
    <a href="#" class="panel-links"><span>Bowmore</span></a>
    <hr />
</div>


<div class="panel1">
    <h4>Top Rated Whiskies</h4>
    <hr />
    <a href="#" class="panel-links"><span>Glenfiddich</span></a>
    <hr />
    <a href="#" class="panel-links"><span>Talisker</span></a>
    <hr />
    <a href="#" class="panel-links"><span>Jura</span></a>
    <hr />
    <a href="#" class="panel-links"><span>Ardberg</span></a>
    <hr />
    <a href="#" class="panel-links"><span>Bowmore</span></a>
    <hr />
</div>

<!-- Map panel -->

<div class="row seven">
    <div class="ten columns centered">

        <!-- maps code need to change the size from absolute -->
        
        <div id="map_canvas" style="width:670px; height:400px"></div>

        <!--div id="regionlist">
            <div id="map"><IMG SRC="{{ STATIC_URL }}imgs/scotland-map.jpg" /></div>
            <div id="map"><p>View All Whiskies</p></div-->
        <hr />
    </div>

    <!-- Three-up Content Blocks -->

    <div class="row">

        <div class="panel3 columns rounded">

            <li><a href='/distillery/'><span><h4>Regions</h4></span></a>
                <ul>
                    <li><a href='#'><span><p>Highlands</p></span></a></li>
                    <li><a href='#'><span><p>Lowlands</p></span></a></li>
                    <li><a href='#'><span><p>Speyside</p></span></a></li>
                    <li><a href='#'><span><p>Islands</p></span></a></li>
                    <li class='last'><a href='#'><span><p>Islay</p></span></a></li>
                </ul>
            </li>
        </div>

        <div class="panel3 rounded">

            <li><a href='/distillery/'><span><h4>Age</h4></span></a>
                <ul>
                    <li><a href='#'><span><p>10 Year</p></span></a></li>
                    <li><a href='#'><span><p>12 Year</p></span></a></li>
                    <li><a href='#'><span><p>15 Year</p></span></a></li>
                    <li><a href='#'><span><p>17 Year</p></span></a></li>
                    <li><a href='#'><span><p>18 Year</p></span></a></li>
                    <li class='last'><a href='#'><span><p>21 Year</p></span></a></li>
                </ul>
            </li>
        </div>

        <div class="panel4 rounded">

            <h4>Search</h4>

        </div>



    </div>


  <!-- Call to Action Panel -->
  <!--div class="row">
    <div class="twelve columns">
    
      <div class="panel rounded">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="nine columns">
            <p1>We'd love to hear from you, you attractive person you.</p1>
          </div>
          <div class="three columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div-->


    <!-- Footer -->

    <footer class="row">
        <div class="twelve columns footer">
            <hr />
            <div class="row">
                <div class="six columns">
                    <p>&copy; Copyright Team NotReally.</p>
                </div>
                <div class="six columns">
                    <ul class="link-list right">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>