{% extends 'dramapp/base.html' %}


    
{% block title %}WhatDram | Distillery{% endblock %}

<!-- First Panel Row -->
<!-- Top Rated Whiskies, Trending Whiskies and a list of whisky regions -->
{% block content %}
<!-- Maps head below -->
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG6LZtW8sO_PBQBQowj7dndRTh_gOnPWo&sensor=false">
    </script>

    <script type="text/javascript">
      function initialize() {
        var image = '{{ STATIC_URL }}imgs/bottle.png';
        var disLatlng = new google.maps.LatLng(55.62989, -6.15202);
        var mapOptions = {
            zoom: 17,
            center: disLatlng,
            mapTypeId: google.maps.MapTypeId.SATELLITE
    }
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h2 id="firstHeading" class="firstHeading">Uluru</h2>'+
        '<div id="bodyContent">'+
        '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
        'sandstone rock formation in the southern part of the '+
        'Northern Territory, central Australia. It lies 335 km (208 mi) '+
        'south west of the nearest large town, Alice Springs; 450 km '+
        '(280 mi) by road. Kata Tjuta and Uluru are the two major '+
        'features of the Uluru - Kata Tjuta National Park. Uluru is '+
        'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
        'Aboriginal people of the area. It has many springs, waterholes, '+
        'rock caves and ancient paintings. Uluru is listed as a World '+
        'Heritage Site.</p>'+
        '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
        'http://en.wikipedia.org/w/index.php?title=Uluru</a> (last visited June 22, 2009).</p>'+
        '</div>'+
        '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: disLatlng,
            /*animation: google.maps.Animation.DROP,*/
            map: map,
            icon: image,
            title: "{{ distillery_name }}"
        });

        google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
        });

        var panoramioLayer = new google.maps.panoramio.PanoramioLayer();
            panoramioLayer.setMap(map);
            google.maps.event.addListener(panoramioLayer, 'click', function(event) { 
        var photoDiv = document.getElementById('photoPanel');
        var attribution = document.createTextNode(event.featureDetails.title + ": " + event.featureDetails.author);
        var br = document.createElement("br");
        var link = document.createElement("a");
            link.setAttribute("href", event.featureDetails.url);
            link.appendChild(attribution);
            photoDiv.appendChild(br);
            photoDiv.appendChild(link);
        });
    }
    </script>
    <!-- End of Maps head -->
</head>

<body onload="initialize()">
<!-- First Panel Row -->
<!-- Top Rated Whiskies, Trending Whiskies and a list of whisky regions -->

<!-- Map panel -->
<h4> {{ distillery_name }} </h4>

<div class="row seven">
    <div class="ten columns centered">

        <!-- maps code need to change the size from absolute -->
        
        <div id="map_canvas" style="width:670px; height:400px"></div>

        <hr />

    </div>

    <!-- Three-up Content Blocks -->

    <div class="row">

        <div class="panel3 columns rounded">

            <li><a href='/distillery/'><span><h4>Regions</h4></span></a>
                <ul>
                    <li><a href='#'><span><p>Highlands</p></span></a></li>
                    <li><a href='#'><span><p>Lowlands</p></span></a></li>
                    <li><a href='#'><span><p>Speyside</p></span></a></li>
                    <li><a href='#'><span><p>Islands</p></span></a></li>
                    <li class='last'><a href='#'><span><p>Islay</p></span></a></li>
                </ul>
            </li>
        </div>

        <div class="panel3 rounded">

            <li><a href='/distillery/'><span><h4>Age</h4></span></a>
                <ul>
                    <li><a href='#'><span><p>10 Year</p></span></a></li>
                    <li><a href='#'><span><p>12 Year</p></span></a></li>
                    <li><a href='#'><span><p>15 Year</p></span></a></li>
                    <li><a href='#'><span><p>17 Year</p></span></a></li>
                    <li><a href='#'><span><p>18 Year</p></span></a></li>
                    <li class='last'><a href='#'><span><p>21 Year</p></span></a></li>
                </ul>
            </li>
        </div>

        <div class="panel4 rounded">

            <h4>Search</h4>

        </div>
 <div class="panel1">
    <h4>Top Rated Whiskies</h4>
     <hr />
    {% if distillery_list %}
        <UL>
        {% for distillery in distillery_list %}
                <Li><a HREF="/distillery/{{distillery.url}}"><p>{{ distillery.name }}</p></a></Li>
                <hr />
        {% endfor %}
        </UL>
{% else %}
        <P>No categories at present.</P>
{% endif %}
    <hr />
  </div>
    </div>
</body>
{% endblock %}