{% extends 'dramapp/base.html' %}
    
{% block title %}WhatDram | Homepage{% endblock %}

<!-- First Panel Row -->
<!-- Top Rated Whiskies, Trending Whiskies and a list of whisky regions -->
{% block content %}

<!--Orbit pics -->
  
   <div class="row seven">
    <div class="ten columns centered">
      <div id="slider">
        <IMG SRC="{{ STATIC_URL }}imgs/whisky3.jpg" />
        <IMG SRC="{{ STATIC_URL }}imgs/back.jpg" />
        <IMG SRC="{{ STATIC_URL }}imgs/kilt.jpg" />
        <IMG SRC="{{ STATIC_URL }}imgs/distillery.jpg" />
      </div>
      
      <hr />
    </div>

  <!-- Three-up Content Blocks -->
  
  <div class="row">
      
      <div class="four columns">
        <img src="http://placehold.it/400x300&text=[img]" />
        <h4>Column</h4>
      
      </div>
   
    
    <div class="four columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Whisky of the day</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="four columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Top Rated Whiskies.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
  </div>
  
  
  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="javascripts/jquery.js"></script>
  
  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="javascripts/jquery.foundation.forms.js"></script>
  
  <script src="javascripts/jquery.event.move.js"></script>
  
  <script src="javascripts/jquery.event.swipe.js"></script>
  
  <script src="javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="javascripts/jquery.placeholder.js"></script>
  
  <script src="javascripts/jquery.foundation.alerts.js"></script>
  
  <script src="javascripts/jquery.foundation.topbar.js"></script>
  
  <script src="javascripts/jquery.foundation.joyride.js"></script>
  
  <script src="javascripts/jquery.foundation.clearing.js"></script>
  
  <script src="javascripts/jquery.foundation.magellan.js"></script>
  
  -->
  


  <!-- Included JS Files (Compressed) -->
  <script src="{{ STATIC_URL }}javascripts/jquery.js"></script>
  <script src="{{ STATIC_URL }}javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="{{ STATIC_URL }}javascripts/app.js"></script>

  <script type="text/javascript">
     $(window).load(function() {
         $('#slider').orbit();
     });
  </script>
  
{% endblock %}
