{% extends 'dramapp/base.html' %}


    
{% block title %}WhatDram | Register{% endblock %}

{% block content %}
	<div class="row four">
    <div class="ten columns centered">
        <div style="color: #fff" id="registerform">
            {% if registered %}
				<A href="../">WhatDram</A>: thank you for registering.
			{% else %}
				<div class="panel3"><h4>Register Now:</h4>
                    <hr/>
					<FORM id="user_form" method="post" action="/register/">
    					{% csrf_token %}
    					{{ uform.as_p }}
    					{{ pform.as_p }}
    					<INPUT type="submit" name="submit" value="submit" />
					</FORM></div>
{% endif %}
        </div>
        <hr />
    </div>
{% endblock %}