{% extends 'dramapp/base.html' %}
{% load comments %}

    
{% block title %}WhatDram | Whiskies{% endblock %}

<!-- First Panel Row -->
<!-- Top Rated Whiskies, Trending Whiskies and a list of whisky regions -->
{% block content %}


      <div class="whisky_title"><H2> {{ whisky.name }} |<H9> {{ whisky.age }} year old</H9></H2></div>




<div class="row seven">
    <div class="ten columns centered">
        <div id="regionlist">
            <div id="whiksyimage"><IMG SRC="{{ whisky.image }}" /></div>
            <div id="whiskyimage"><p></p></div>
            <h4>{{ whisky.whiskytype }}</h4>
            <h4>{{ whisky.distillery }}</h4>
            <h4>{{ whisky.region }}</h4>
            <h4>{{ whisky.tastingnotes }}</h4>
            <h4>{{ whisky.barrelType }}</h4>
            <a href "{{ whisky.website }}"><span><h4>Visit the {{whisky_name}} website</h4></span></a>
        </div>
        <hr />
    </div>

    
    {% if user.is_authenticated %}
    {% get_comment_form for whisky as form %}
    <h4> Comments for {{ whisky_name }}</h4>
    <div class="comment_panel">
        <div class="inner_comment_panel">

    
    <form class="" action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="/whisky/{{ whisky_name_url }}"/>
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
    {% else %}
    <div class="comment_login">

    <h6>Please log in to leave a comment and rate {{ whisky_name }}.</h6>


    </div>
    {% endif %}
</div>
    

    {% if user.is_authenticated %}

<div class ="rating">
{% load whisky %}
    {% if_rated user whisky %}
        {% get_rating user whisky as rating %}
        <p>You rated this whisky {{ rating.get_rating_display }}.</p>
    {% else %}
        <h5>{{ whisky.title }} | {{ whisky.age }} year old</h5>
        <h5>Rate this whisky:</h5>
        <div class = "rating">
            <ul>
            <li><a href="{{ dram_app_rate }}?rating=5"><span><p>☆</p></span></a></li>
            <li><a href="{{ dram_app_rate }}?rating=4"><span><p>☆</p></span></a></li>
            <li><a href="{{ dram_app_rate }}?rating=3"><span><p>☆</p></span></a></li>
            <li><a href="{{ dram_app_rate }}?rating=2"><span><p>☆</p></span></a></li>
            <li><a href="{{ dram_app_rate }}?rating=1"><span><p>☆</p></span></a></li>
        </ul>
        </div>
    {% endif_rated %}
</div>

</div>
{% endif %}
<hr \>
<h4> Recent Commments </h4>
<div class="comment_list">

{% get_comment_count for whisky as comment_count %}

    {% render_comment_list for whisky %}
   
</div>
 {% endblock %}

    