{% extends 'dramapp/base.html' %}
    
{% block title %}WhatDram | Whiskies{% endblock %}

<!-- First Panel Row -->
<!-- Top Rated Whiskies, Trending Whiskies and a list of whisky regions -->
{% block content %}

<ul>
        {% for publisher in object_list %}
            <li>{{ whisky.name }}</li>
        {% endfor %}
</ul>

<H2>{{whisky_name}}</H2>

{% if whisky_page %}
        <UL>
        {% for whisky_page in whisky_pages %}
                <LI><A HREF="{{whisky_page.url}}">{{whisky_page.title}}</A></LI>
        {% endfor %}
                </UL>
{% else %}
        <P>No Whiskies in category.</P>
{% endif %}

<div class="row seven">
    <div class="ten columns centered">
        <div id="regionlist">
            <div id="map"><IMG SRC="{{ STATIC_URL }}imgs/scotland-map.jpg" /></div>
            <div id="map"><p>View All Whiskies</p></div>
        </div>
        <hr />
    </div>

    <!-- Three-up Content Blocks -->

    <div class="row">

        <div class="panel3 columns rounded">

            <li><a href='/distillery/'><span><h4>Regions</h4></span></a>
                <ul>
                    <li><a href='#'><span><p>Highlands</p></span></a></li>
                    <li><a href='#'><span><p>Lowlands</p></span></a></li>
                    <li><a href='#'><span><p>Speyside</p></span></a></li>
                    <li><a href='#'><span><p>Islands</p></span></a></li>
                    <li class='last'><a href='#'><span><p>Islay</p></span></a></li>
                </ul>
            </li>
        </div>

        <div class="panel3 rounded">

            <li><a href='/distillery/'><span><h4>Age</h4></span></a>
                <ul>
                    <li><a href='#'><span><p>10 Year</p></span></a></li>
                    <li><a href='#'><span><p>12 Year</p></span></a></li>
                    <li><a href='#'><span><p>15 Year</p></span></a></li>
                    <li><a href='#'><span><p>17 Year</p></span></a></li>
                    <li><a href='#'><span><p>18 Year</p></span></a></li>
                    <li class='last'><a href='#'><span><p>21 Year</p></span></a></li>
                </ul>
            </li>
        </div>

        <div class="panel4 rounded">

            <h4>Search</h4>

        </div>

       





    </div>
    {% endblock %}