{% extends 'dramapp/base.html' %}
{% load comments %}
    
{% block title %}WhatDram | Whiskies{% endblock %}

<!-- First Panel Row -->
<!-- Top Rated Whiskies, Trending Whiskies and a list of whisky regions -->
{% block content %}


      <div class="whisky_title"><H2> {{ whisky_name }} |<H9> {{ whisky.age }} year old</H9></H2></div>




<div class="row seven">
    <div class="ten columns centered">
        <div id="regionlist">
            <div id="map"><IMG SRC="{{ STATIC_URL }}imgs/scotland-map.jpg" /></div>
            <div id="map"><p></p></div>
            <h4>{{ whisky.whiskytype }}</h4>
            <h4>{{ whisky.distillery }}</h4>
            <h4>{{ whisky.region }}</h4>
            <h4>{{ whisky.tastingnotes }}</h4>
            <h4>{{ whisky.barrelType }}</h4>
            <a href "{{ whisky.website }}"><span><h4>Visit the {{whisky_name}} website</h4></span></a>
        </div>
        <hr />
    </div>

    
    {% if user.is_authenticated %}
    {% get_comment_form for whisky as form %}
    <h4> Comments for {{ whisky_name }}</h4>
    <div class="comment_panel">
        <div class="inner_comment_panel">

    
    <form class="" action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="/whisky/{{ whisky_name_url }}"/>
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
    {% else %}
    <div class="comment_login">

    <h6>Please log in to leave a comment and rate {{ whisky_name }}.</h6>


    </div>
    {% endif %}
</div>
    

    {% if user.is_authenticated %}

    <h5>Ratings</h5>


<div class ="rating">
    {% load whisky %}
    
    {% if_rated user whisky %}
    
        {% get_rating user whisky as rating %}
        
        <p>You rated this {{ whisky_name }} {{ rating.get_rating_display }}.</p>
        
    {% else %}

        <h5>Rate this {{ whisky_name }}:</h5>
        <h5>Rate this whisky:</h5>
            <p><a href="/whisky/{{ whisky_name_url }}?rating=1">1 Star</a> |
            <a href="/whisky/{{ whisky_name_url }}?rating=2">2 Stars</a> |
            <a href="/whisky/{{ whisky_name_url }}?rating=3">3 Stars</a> |
            <a href="/whisky/{{ whisky_name_url }}?rating=4">4 Stars</a> |
            <a href="/whisky/{{ whisky_name_url }}?rating=5">5 Stars</a></p>
    {% endif_rated %}
</div>

</div>
{% endif %}
<hr \>
<h4> Recent Commments </h4>
<div class="comment_list">

{% get_comment_count for whisky as comment_count %}

    {% render_comment_list for whisky %}
   
</div>
 {% endblock %}

    